@font-face {
    font-family: Montserrat-Regular;
    src:
        url(fonts/Montserrat-Regular.woff2) format("woff2"),
        url(fonts/Montserrat-Regular.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Heebo-Regular;
    src:
        url(fonts/Heebo-Regular.woff2) format("woff2"),
        url(fonts/Heebo-Regular.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Heebo-Medium;
    src:
        url(fonts/Heebo-Medium.woff2) format("woff2"),
        url(fonts/Heebo-Medium.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Heebo-Bold;
    src:
        url(fonts/Heebo-Bold.woff2) format("woff2"),
        url(fonts/Heebo-Bold.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Impact-Regular;
    src:
        url(fonts/Impact-Regular.woff2) format("woff2"),
        url(fonts/Impact-Regular.ttf) format("truetype");
    font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

section {
    position: relative;
    overflow: hidden;
}

a {
    color: #f0f0f0;
    outline: none;
    transition: 0.3s;
}

svg {
    flex-shrink: 0;
    height: auto;
}

button {
    padding: 0;
    color: #f0f0f0;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    position: relative;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    font-size: 20px;
    line-height: 1.45;
    font-family: Heebo-Regular, sans-serif;
    color: #f0f0f0;
    background: #242424;
}

.page:after {
    content: "";
    position: fixed;
    z-index: 100001;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
    background-color: #0000004d;
    transition: opacity 0.4s ease-out 0s;
}

.page.modal-open,
.page.menu-open {
    overflow: hidden;
}

.page.modal-open:after,
.page.menu-open:after {
    height: 100%;
    width: 100%;
    opacity: 1;
}

#page {
}

.wrap {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
    max-width: 1084px;
    padding: 0 40px;
}

.hidden {
    display: none;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .wrap {
        padding: 0 15px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 16px;
        line-height: 1.5;
    }
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 366px;
    height: 74px;
    padding: 0 7px 0 20px;
    border-radius: 37px;
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
    font-size: 40px;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background: #e45b9f;
}

.feedback-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    width: 100%;
    height: 50px;
    border-radius: 37px;
    color: #fff;
    background-color: #e45b9f;
    font-size: 20px;
}

.feedback-btn:hover {
    background-color: #c9508c;
}

@media screen and (max-width: 480px) {
    .btn {
        max-width: 144px;
        height: 29px;
        padding: 0 2px 0 8px;
        font-size: 16px;
    }

    .btn-icon {
        width: 20px;
        height: 20px;
    }

    .btn-icon svg {
        width: 15px;
    }
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    box-shadow: none;
    color: #c3c3c3;
    direction: rtl;
    font-size: 10px;
    line-height: 1.4;
    transition: border-color 0.5s;
    font-family: Heebo-Regular, sans-serif;
}

:invalid {
    box-shadow: none;
}

input::placeholder {
    opacity: 1;
    color: #c3c3c3;
}

textarea::placeholder {
    opacity: 1;
    color: #c3c3c3;
}

.input {
    width: 100%;
}

.input-field {
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 6px;
}

/* .input-error {
    margin-top: 10px;
    text-align: right;
    font-size: 10px;
    color: #ec1e2c;
} */

/*.input-field.error {
    border-color: #ff6651;
}

.input-field:focus {
    border-color: #fff;
} */

/* .input-sizer {
    position: relative;
    display: grid;
    width: 100%;
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 6px;
}

.input-sizer:after {
    content: attr(data-value) " ";
    visibility: hidden;
    white-space: pre-wrap;
    grid-area: 2/1;
    color: #242424;
    font-size: 14px;
    line-height: 1.4;
} */

/* .input-text {
    overflow: hidden;
    resize: none;
    grid-area: 2/1;
    padding: 0;
    border: none;
    color: #242424;
    font-size: 14px;
} */

.checkbox {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    margin-top: 6px;
    cursor: pointer;
}

.checkbox-input {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    border: 1px solid #c3c3c3;
    cursor: pointer;
    transition: 0.5s;
}

.checkbox.error .checkbox-input,
.checkbox-input.error {
    border-color: #ff6651;
}

.checkbox.checked .checkbox-input,
.checkbox-input.checked {
    border-color: #e45b9f;
    background-color: #e45b9f;
}

.checkbox-input-icon {
    opacity: 0;
    transition: opacity 0.5s;
}

.checkbox.checked .checkbox-input-icon,
.checkbox-input.checked .checkbox-input-icon {
    opacity: 1;
}

.checkbox-label {
    font-size: 10px;
    line-height: 1.4;
    -webkit-user-select: none;
    user-select: none;
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 51px 0 68px;
    font-family: Montserrat-Regular, sans-serif;
}

.header-options {
    display: flex;
    align-items: center;
    gap: 14px;
}

.header-talk,
.header-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e45b9f;
    cursor: pointer;
}

.header-talk {
    font-size: 22px;
    line-height: 19px;
    background: linear-gradient(45deg, #fff, #ff6ec1, #f450ae, #ce2686);
    background-size: 400%;
    animation: text-gradient 3s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-menu {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 3px solid #e45b9f;
    font-size: 19px;
    line-height: 17px;
}

@media screen and (max-width: 1024px) {
    .site-header {
        padding: 11px 15px 0;
    }
}

@media screen and (max-width: 480px) {
    .header-logo {
        width: 25px;
    }

    .header-options {
        gap: 8px;
    }

    .header-talk {
        font-size: 11px;
        line-height: 10px;
    }

    .header-menu {
        width: 31px;
        height: 31px;
        border-width: 1px;
        font-size: 9px;
        line-height: 8px;
    }
}

@keyframes text-gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to {
        background-position: 0% 50%;
    }
}

.slider {
    touch-action: pan-y;
    overflow: hidden;
}

.slider-inside {
    display: flex;
    -webkit-user-select: none;
    user-select: none;
}

.slider-inside.grabbing {
    cursor: grabbing;
}

.slider-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.slider-prev,
.slider-next {
    position: relative;
    z-index: 2;
    display: flex;
}

.slider-dots {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 12px;
}

.slider-dots-item {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #001b441f;
    cursor: pointer;
    transition: background-color 0.5s;
}

.slider-dots-item.active {
    background-color: #001b44;
}

.slider-dots.hidden {
    display: none;
}

.slider-item img {
    pointer-events: none;
}

.box {
    width: 100%;
}

.box-scroll {
    width: 100%;
    height: 1800px;
}

.box-content {
    position: sticky;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 853px;
    overflow: hidden;
}

.box-title {
    position: relative;
    z-index: 11;
    font-size: 144px;
    line-height: 175px;
    font-family: Impact-Regular, sans-serif;
}

.box-content img {
    position: absolute;
    left: 100%;
}

.box-img1 {
    z-index: 10;
    margin-left: -690px;
    top: 395px;
}

.box-img2 {
    z-index: 9;
    margin-left: -481px;
    top: 208px;
}

.box-img3 {
    z-index: 8;
    margin-left: -901px;
    top: 574px;
}

.box-img4 {
    z-index: 7;
    margin-left: -830px;
    top: 183px;
}

.box-img5 {
    z-index: 6;
    margin-left: -193px;
    top: 713px;
}

.box-img6 {
    z-index: 5;
    margin-left: -430px;
    top: 0;
}

@media screen and (max-width: 1440px) {
    .box-content {
        top: 210px;
        height: 595px;
    }

    .box-img1 {
        margin-left: -482px;
        top: 275px;
        width: 348px;
    }

    .box-img2 {
        margin-left: -336px;
        top: 145px;
        width: 336px;
    }

    .box-img3 {
        margin-left: -693px;
        top: 401px;
        width: 211px;
    }

    .box-img4 {
        margin-left: -579px;
        top: 127px;
        width: 361px;
    }

    .box-img5 {
        margin-left: -134px;
        top: 498px;
        width: 134px;
    }

    .box-img6 {
        margin-left: -300px;
        top: 0;
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .box-scroll {
        height: 1500px;
    }

    .box-content {
        height: 505px;
    }

    .box-img1 {
        margin-left: -280px;
        top: 191px;
        width: 202px;
    }

    .box-img2 {
        margin-left: -195px;
        top: 115px;
        width: 195px;
    }

    .box-img3 {
        z-index: 4;
        margin-left: -257px;
        top: 59px;
        width: 123px;
    }

    .box-img4 {
        margin-left: -210px;
        top: 341px;
        width: 210px;
    }

    .box-img5 {
        display: none;
    }

    .box-img6 {
        margin-left: -175px;
        width: 175px;
    }

    .box-title {
        font-size: 44px;
        line-height: 53px;
    }
}

.mainIntro {
    position: relative;
    padding-top: 132px;
}

@media screen and (max-width: 1024px) {
    .mainIntro {
        padding-top: 35px;
    }
}

.scrollDown {
    display: none;
}

@media screen and (max-width: 1024px) {
    .scrollDown {
        position: absolute;
        top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        width: 100%;
        color: #f0f0f0;
        font-size: 10px;
        line-height: 13px;
        font-family: Montserrat-Regular, sans-serif;
        -webkit-user-select: none;
        user-select: none;
    }
}

.scrollDown-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scroll-down 1.2s infinite ease;
}

@keyframes scroll-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-7px);
    }

    55% {
        transform: translateY(-7px);
    }

    to {
        transform: translateY(0);
    }
}

.marquee {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.marquee-line {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 82px;
    white-space: nowrap;
    padding: 0 41px;
}

.marquee-line.line1 {
    animation: marquee 30s linear infinite;
    animation-delay: -30s;
}

.marquee-line.line2 {
    animation: marquee2 30s linear infinite;
    animation-delay: -15s;
}

.marquee img {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

@keyframes marquee {
    0% {
        transform: translate(100%);
    }

    to {
        transform: translate(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translate(0);
    }

    to {
        transform: translate(-200%);
    }
}

@media screen and (max-width: 1024px) {
    .marquee-line {
        gap: 48px;
        padding: 0 24px;
    }

    .marquee img {
        width: auto;
        height: 48px;
    }
}

@media screen and (max-width: 480px) {
    .marquee-line {
        gap: 32px;
        padding: 0 16px;
    }

    .marquee img {
        height: 32px;
    }
}

.mainSlider {
    padding: 235px 0 295px;
}

.mainSlider .wrap {
    display: flex;
    align-items: center;
    gap: 37px;
}

.mainSlider .slider {
    flex-shrink: 0;
    width: 432px;
}

.mainSlider-text {
    font-size: 30px;
    line-height: 44px;
    direction: rtl;
}

@media screen and (max-width: 1024px) {
    .mainSlider {
        padding: 120px 0;
    }

    .mainSlider .wrap {
        flex-direction: column;
        align-items: center;
        gap: 26px;
    }

    .mainSlider .slider {
        order: 2;
        width: 100%;
        max-width: clamp(280px, 42.188vw, 432px);
    }

    .mainSlider-text {
        max-width: clamp(288px, 52.246vw, 535px);
        font-size: clamp(16px, 2.93vw, 30px);
        line-height: 1.5;
    }
}

@media screen and (max-width: 480px) {
    .mainSlider {
        padding: 43px 0 80px;
    }

    .mainSlider .slider-nav {
        margin-top: 9px;
    }

    .mainSlider .slider-prev svg,
    .mainSlider .slider-next svg {
        width: 23px;
    }
}

.mainSteps {
    padding: 152px 0 100px;
    overflow: visible;
}

.mainSteps .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
    max-width: none;
    padding: 0 138px;
}

@media screen and (max-width: 1280px) {
    .mainSteps .wrap {
        max-width: 1084px;
        padding: 0 40px;
    }
}

@media screen and (max-width: 1024px) {
    .mainSteps {
        padding: 80px 0;
    }

    .mainSteps .wrap {
        padding: 0 36px;
    }
}

@media screen and (max-width: 480px) {
    .mainSteps {
        padding: 44px 0 46px;
    }
}

.step {
    position: sticky;
    display: flex;
    align-items: center;
    gap: 48px;
    padding: 29px 41px 28px 28px;
    border-radius: 46px;
    border: 1px solid #707070;
    background: #242424;
}

.step:nth-child(1) {
    top: 50px;
}

.step:nth-child(2) {
    top: 100px;
}

.step:nth-child(3) {
    top: 150px;
}

.step:nth-child(4) {
    top: 200px;
}

.step-media {
    flex-shrink: 0;
    width: 378px;
    height: 384px;
    border-radius: 30px 5px;
    overflow: hidden;
    background: #000;
}

.step-media img,
.step-media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.step-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    direction: rtl;
}

.step-num {
    color: #c3c3c3;
    line-height: 23px;
}

.step-title {
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 59px;
    font-family: Heebo-Bold, sans-serif;
}

.step-description {
    margin-bottom: 23px;
    color: #fff;
}

.step-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #d4649d;
    font-family: Heebo-Medium, sans-serif;
}

@media screen and (max-width: 1024px) {
    .step {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        border-radius: 23px;
        padding: 24px 10px;
    }

    .step:nth-child(1) {
        top: 30px;
    }

    .step:nth-child(2) {
        top: 60px;
    }

    .step:nth-child(3) {
        top: 90px;
    }

    .step:nth-child(4) {
        top: 120px;
    }

    .step-media {
        order: 2;
        width: clamp(242px, 36.914vw, 378px);
        height: clamp(245px, 37.5vw, 384px);
    }

    .step-text {
        padding-right: 6px;
    }

    .step-num {
        font-size: clamp(14px, 1.953vw, 20px);
        line-height: 1.5;
    }

    .step-title {
        margin-bottom: 12px;
        font-size: clamp(20px, 3.906vw, 40px);
        line-height: 1.45;
    }

    .step-description {
        margin-bottom: 17px;
        font-size: clamp(16px, 1.953vw, 20px);
    }

    .step-link {
        gap: 8px;
    }
}

@media screen and (max-width: 480px) {
    .step {
        gap: 16px;
    }
}

.wrapM {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 260px 0;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .wrapM {
        gap: 16px;
        padding: 140px 0;
    }
}

@media screen and (max-width: 480px) {
    .wrapM {
        gap: 8px;
        padding: 68px 0 92px;
    }
}

.marqueeW {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
}

.marqueeW:before {
    content: "";
    position: absolute;
    top: 0;
    left: -10vw;
    width: 120vw;
    height: 100%;
    background: inherit;
}

.marqueeW.bg1 {
    color: #242424;
    background: #fff;
    transform: rotate(10deg);
}

.marqueeW.bg2 {
    background: #e45b9f;
    transform: rotate(-9deg);
}

.marqueeW-line {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 22px;
    height: 68px;
    padding: 0 11px;
    overflow: hidden;
}

.marqueeW-line.line1 {
    animation: marqueeW 30s linear infinite;
    animation-delay: -30s;
}

.marqueeW-line.line2 {
    animation: marqueeW2 30s linear infinite;
    animation-delay: -15s;
}

.marqueeW-line.line3 {
    animation: marqueeRight 30s linear infinite;
    animation-delay: -30s;
}

.marqueeW-line.line4 {
    animation: marqueeRight2 30s linear infinite;
    animation-delay: -15s;
}

.marqueeW-line img {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    width: auto;
    height: 46px;
}

@media screen and (max-width: 1024px) {
    .marqueeW-line {
        height: 38px;
        gap: 12px;
        padding: 0 6px;
    }

    .marqueeW-line img {
        height: 26px;
    }
}

@media screen and (max-width: 480px) {
    .marqueeW-line {
        height: 28px;
        gap: 8px;
        padding: 0 4px;
    }

    .marqueeW-line img {
        height: 18px;
    }
}

@keyframes marqueeW {
    0% {
        transform: translate(100%);
    }

    to {
        transform: translate(-100%);
    }
}

@keyframes marqueeW2 {
    0% {
        transform: translate(0);
    }

    to {
        transform: translate(-200%);
    }
}

@keyframes marqueeRight {
    0% {
        transform: translate(-100%);
    }

    to {
        transform: translate(100%);
    }
}

@keyframes marqueeRight2 {
    0% {
        transform: translate(-200%);
    }

    to {
        transform: translate(0);
    }
}

.cases.cases2 {
    padding-bottom: 80px;
}

.cases-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(1px, 1fr));
    gap: 144px 26px;
    padding: 0 26px;
}

.cases-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    direction: rtl;
}

.cases-item-img,
.cases-item-img img {
    width: 100%;
}

.cases-item-cat {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 7px;
    color: #d4649d;
    font-size: 16px;
    line-height: 1.5;
    font-family: Heebo-Medium, sans-serif;
}

.cases-item-title {
    margin-top: 8px;
    font-size: 30px;
    line-height: 1.2;
    font-family: Impact-Regular, sans-serif;
}

.cases-item-description {
    margin-top: 1px;
}

.cases .btn {
    gap: 16px;
    margin: 107px auto 0;
}

@media screen and (max-width: 1024px) {
    .cases-grid {
        grid-template-columns: minmax(1px, 1fr);
        gap: 64px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 480px) {
    .cases-grid {
        gap: 24px;
    }

    .cases-item-cat {
        gap: 9px;
        margin: 0;
        font-size: 12px;
    }

    .cases-item-title {
        margin-top: 4px;
        font-size: 16px;
        line-height: 19px;
    }

    .cases-item-description {
        margin: 0;
        font-size: 14px;
    }

    .cases .btn {
        gap: 10px;
        margin-top: 28px;
    }
}

.team {
    padding: 26px 0 56px;
}

.team-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    direction: rtl;
    transform: translateY(137px);
}

.team-title {
    margin-bottom: 14px;
    font-size: 68px;
    line-height: 83px;
    font-family: Impact-Regular, sans-serif;
}

.team-description {
    width: 100%;
    max-width: 522px;
}

@media screen and (max-width: 1024px) {
    .team {
        padding: 120px 0 31px;
    }

    .team-text {
        margin-bottom: 14px;
        transform: none;
    }

    .team-title {
        margin-bottom: 10px;
        font-size: clamp(24px, 6.641vw, 68px);
        line-height: 1.2;
    }

    .team-description {
        font-size: clamp(16px, 1.953vw, 20px);
    }
}

@media screen and (max-width: 480px) {
    .team {
        padding-top: 52px;
    }

    .team-description {
        max-width: 300px;
    }
}

.advantages {
    padding: 85px 0 94px;
    color: #242424;
    background: #fff;
    direction: rtl;
}

.advantages-title {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 88px;
    font-family: Heebo-Bold, sans-serif;
}

.advantages-grid {
    display: flex;
    flex-direction: column;
    gap: 68px;
}

.advantages-item {
    display: flex;
}

.advantages-item:nth-child(2n) {
    display: flex;
    justify-content: flex-end;
}

.advantages-item:nth-child(odd) {
    padding-left: 14px;
}

.advantages-item-inner {
    display: flex;
    gap: 14px;
}

.advantages-item-title {
    font-size: 40px;
    line-height: 59px;
    font-family: Heebo-Bold, sans-serif;
}

.advantages-item:nth-child(2n) .advantages-item-description {
    max-width: 545px;
}

.advantages-item-num {
    margin-top: 12px;
    color: #e45b9f;
    font-family: Heebo-Bold, sans-serif;
}

@media screen and (max-width: 1024px) {
    .advantages .wrap {
        padding-right: 35px;
    }

    .advantages-title {
        margin-bottom: 27px;
        font-size: clamp(30px, 6.641vw, 68px);
        line-height: 1.33;
    }

    .advantages-grid {
        gap: 48px;
    }

    .advantages-item:nth-child(odd) {
        justify-content: flex-end;
        padding: 0;
    }

    .advantages-item-inner {
        gap: 7px;
    }

    .advantages-item-title {
        font-size: clamp(24px, 3.906vw, 40px);
        line-height: 1;
    }

    .advantages-item:nth-child(2n) .advantages-item-description {
        max-width: none;
    }

    .advantages-item-num {
        margin-top: 3px;
    }
}

@media screen and (max-width: 480px) {
    .advantages {
        padding: 27px 0 41px;
    }

    .advantages-grid {
        gap: 28px;
    }

    .advantages-item-num {
        margin-top: 3px;
        font-size: 10px;
    }
}

.feedback {
    padding: 144px 0 180px;
}

.feedback-frame {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 52px 62px 48px;
    color: #242424;
    text-align: center;
}

.feedback-frame:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 46px;
    background: #f0f0f0;
}

.feedback-frame-col {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    width: 100%;
    max-width: 440px;
}

.feedback-title {
    font-size: 117px;
    line-height: 120px;
    font-family: Impact-Regular, sans-serif;
}

.feedback-img {
    position: absolute;
    top: -77px;
    left: -138px;
}

.feedback .btn {
    gap: 26px;
    border-color: #242424;
    color: #242424;
}

.feedback .btn-label {
    flex-grow: 1;
}

@media screen and (max-width: 1024px) {
    .feedback {
        padding: 80px 0;
    }

    .feedback .wrap {
        padding: 0 31px;
    }

    .feedback-frame {
        align-items: center;
        padding: 32px 7px 0;
    }

    .feedback-frame:before {
        bottom: 100px;
    }

    .feedback-frame-col {
        max-width: none;
    }

    .feedback-title {
        max-width: clamp(218px, 42.969vw, 440px);
        font-size: clamp(58px, 11.426vw, 117px);
        line-height: 0.95;
    }

    .feedback-img {
        position: static;
        padding-right: 48px;
    }
}

@media screen and (max-width: 480px) {
    .feedback {
        padding: 49px 0 54px;
    }

    .feedback-frame {
        padding-top: 7px;
    }

    .feedback-frame:before {
        bottom: 31px;
    }

    .feedback-frame-col {
        gap: 7px;
    }

    .feedback .btn {
        gap: 8px;
    }
}

.site-footer {
    padding-bottom: 30px;
    background: #242424;
}

.site-footer .wrap {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 18px;
    text-align: right;
}

.footer-popup {
    margin-bottom: 9px;
    color: #e45b9f;
    font-family: Heebo-Medium, sans-serif;
    cursor: pointer;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-top: 8px;
    width: 100%;
    max-width: 210px;
}

.footer .input {
    max-width: 204px;
}

.footer-social {
    display: flex;
    gap: 20px;
    font-size: 0;
}

.footer-instagram {
    color: #c3c3c3;
    font-size: 10px;
    line-height: 1.4;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    direction: rtl;
    font-family: Heebo-Bold, sans-serif;
}

.footer-nav a {
    color: #fff;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.subscribe-info {
    margin-bottom: 14px;
    font-family: Heebo-Bold, sans-serif;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    width: 100%;
    max-width: 210px;
    height: 35px;
    border: 1px solid #e45b9f;
    border-radius: 37px;
    color: #e45b9f;
    font-size: 15px;
}

.subscribe-btn:hover {
    color: #fff;
    background-color: #e45b9f;
}

@media screen and (max-width: 1024px) {
    .site-footer .wrap {
        padding: 0 31px;
    }
}

@media screen and (max-width: 480px) {
    .footer-col {
        padding: 0;
        align-items: center;
    }

    .footer-popup {
        margin-bottom: 11px;
        font-size: 20px;
        line-height: 1.45;
    }

    .footer-nav {
        gap: 5px;
        font-size: 14px;
        line-height: 17px;
    }

    .subscribe {
        display: none;
    }
}

.sideMenu {
    position: fixed;
    z-index: 100002;
    top: 0;
    right: -200%;
    width: 100vw;
    max-width: 600px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    transition: 0.3s;
    overflow: hidden;
    background: #fff;
    direction: rtl;
}

.sideMenu.open {
    right: 0;
}

.sideMenu-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;
    height: 100%;
    padding: 64px 32px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sideMenu .modal-close {
    top: 16px;
    right: 16px;
}

.sideMenu-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.sideMenu-contacts a {
    color: #e45b9f;
    font-size: 30px;
    font-family: Heebo-Medium, sans-serif;
}

/* .sideMenu-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
} */

/* .sideMenu-link {
    color: #242424;
    font-size: 48px;
    font-family: Heebo-Bold, sans-serif;
} */

/*** Menu ***/
.sideMenu .menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sideMenu .menu a {
    color: #242424;
    font-size: 48px;
    font-family: Heebo-Bold, sans-serif;
}

.sideMenu .menu .current_page_item a {
    color: red;
}

@media screen and (max-width: 480px) {
    .sideMenu-inner {
        gap: 40px;
        padding: 64px 16px;
    }

    .sideMenu-contacts a {
        font-size: 24px;
    }

    /* .sideMenu-link {
        font-size: 40px;
    } */

    .sideMenu .menu a {
        font-size: 40px;
    }
}

.popup-info {
    position: fixed;
    z-index: 100003;
    top: 20px;
    right: 20px;
    width: calc(100vw - 40px);
    max-width: 354px;
    border-radius: 3px;
    padding: 20px 40px 20px 80px;
    color: #fff;
    background-color: #68a104;
    box-shadow: -4px 13px 10px 1px #524ad41c;
    font-size: 16px;
    visibility: visible;
    animation-name: bounceInDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.5s;
}

.popup-info p {
    line-height: 1.5;
}

.popup-info > svg {
    position: absolute;
    left: 40px;
    width: 26px;
    height: 26px;
}

.popup-info-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 3px;
    background-color: #0006;
}

.popup-info-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 14px;
    height: 14px;
    fill: #fff;
}

.popup-error .popup-info-close {
    fill: #fff;
}

.popup-error {
    color: #fff;
    border-color: #d22e3b;
    background-color: #d22e3b;
}

@keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: none;
    }
}

.modal-box {
    display: none;
    position: fixed;
    z-index: 100002;
    top: 0;
    left: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    overflow-y: auto;
    animation-fill-mode: both;
}

.modal-box.open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    z-index: 2;
    max-height: 100vh;
    max-height: calc(var(--vh, 1vh) * 100);
    width: 100%;
}

.modal-body {
    position: relative;
    z-index: 2;
    border-radius: 12px;
    background: #fff;
}

.modal-close {
    position: absolute;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.modal-close:before {
    opacity: 0;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #efefef;
    transition: opacity 0.5s;
}

.modal-close:hover:before {
    opacity: 1;
}

.modal-box .modal-close {
    top: 16px;
    right: 16px;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
    animation-duration: 0.3s;
}

@keyframes zoomOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    to {
        opacity: 0;
    }
}

.zoomOut {
    animation-name: zoomOut;
    animation-duration: 0.32s;
}

.modalSuccess {
    max-width: 480px;
    text-align: center;
    color: #242424;
}

.modalSuccess-inner {
    padding: 64px 32px;
}

.modalSuccess-title {
    font-size: 40px;
    line-height: 1.2;
    font-family: Impact-Regular, sans-serif;
}

.modalSuccess-info {
    margin-top: 24px;
}

.modalSuccess-action {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.modalSuccess .feedback-btn {
    max-width: 200px;
}

@media screen and (max-width: 480px) {
    .modalSuccess-inner {
        padding: 64px 16px 32px;
    }
}

.modalTalk {
    max-width: 930px;
    color: #242424;
    margin: 20px;
}

.modalTalk-inner {
    padding: 64px 32px;
}

.modalTalk-head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.modalTalk-title {
    font-size: 68px;
    line-height: 83px;
    font-family: Impact-Regular, sans-serif;
}

.modalTalk-body {
    display: grid;
    grid-template-columns: repeat(2, minmax(1px, 1fr));
    gap: 40px;
}

.modalTalk-form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .form-field {
        width: 100%;

        input,
        textarea {
            color: #242424;
            font-size: 14px;
            border-bottom: 1px solid #c3c3c3;
            padding: 4px;
        }

        textarea {
            resize: none;
            overflow: hidden;
        }

        input:focus {
            border-color: #242424;
        }

        .error input {
            border-color: #ff6651;
        }

        small {
            display: block;
            margin-top: 10px;
            text-align: right;
            font-size: 10px;
            color: #ec1e2c;
        }
    }
}

.modalTalk-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
}

.modalTalk-contacts ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.modalTalk-contacts a {
    color: #e45b9f;
    font-size: 25px;
    line-height: 37px;
    font-family: Heebo-Medium, sans-serif;
}

@media screen and (max-width: 768px) {
    .modalTalk {
        margin: 10px;
    }

    .modalTalk-inner {
        padding: 64px 16px 32px;
    }

    .modalTalk-body {
        grid-template-columns: minmax(1px, 1fr);
    }

    .modalTalk-contacts {
        align-items: flex-start;
    }

    .modalTalk-hellooo {
        width: 80px;
    }

    .modalTalk-title {
        font-size: 48px;
        line-height: 1.2;
    }
}

@media screen and (max-width: 480px) {
    .modalTalk-hellooo {
        display: none;
    }

    .modalTalk-title {
        font-size: 40px;
    }
}

.case-p {
    background: #fff;
}

.case {
    padding-top: 29px;
    color: #242424;
    font-size: 18px;
    line-height: 1.5;
}

.case-head {
    padding: 21px 0 66px;
}

.case-client {
    transform: translateY(7px);
    color: #d4649d;
    direction: rtl;
}

.case-title {
    font-size: 40px;
    line-height: 59px;
    direction: rtl;
    font-family: Heebo-Medium, sans-serif;
}

.case-grid {
    display: grid;
    grid-template-columns: minmax(1px, 340px) minmax(1px, 1fr);
    gap: 45px 100px;
    padding-bottom: 92px;
}

.case-grid-col3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.case-grid-label {
    margin-bottom: 9px;
    color: #d4649d;
    direction: rtl;
}

.case-grid-description {
    direction: rtl;
}

.case-grid-description p {
    margin-bottom: 27px;
}

.case-grid-description p:last-child {
    margin: 0;
}

.case-images {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 0 auto;
    width: 100%;
    max-width: 1228px;
    padding: 0 40px;
}

.case-images-2x {
    display: grid;
    grid-template-columns: repeat(2, minmax(1px, 1fr));
    gap: 8px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0 54px;

    .nav-previous,
    .nav-next {
        display: flex;
        align-items: center;
        gap: 16px;

        a {
            color: #000;
            display: flex;
            display: flex;
            align-items: center;
            gap: 16px;
            color: #000;

            span {
                dusplay: inlie-block;
            }

            img {
            }
        }
    }

    .nav-next {
        margin-left: auto;
    }
}

@media screen and (max-width: 1024px) {
    .case-head {
        padding: 20px 0 48px;
    }

    .case-grid {
        grid-template-columns: minmax(1px, 1fr);
        padding-bottom: 60px;
    }

    .case-grid-col3 {
        grid-area: auto;
    }

    .case-grid-col1,
    .case-grid-col2 {
        order: 2;
    }

    .case-images {
        padding: 0 16px;
    }
}

@media screen and (max-width: 480px) {
    .case {
        padding-top: 19px;
        font-size: 16px;
    }

    .case-head {
        padding: 4px 0 24px;
    }

    .case-client {
        transform: translateY(6px);
    }

    .case-title {
        font-size: 26px;
        line-height: 38px;
    }

    .case-grid {
        gap: 19px;
        padding-bottom: 42px;
    }

    .case-grid-label {
        margin-bottom: 1px;
    }

    .case-grid-description p {
        margin-bottom: 24px;
    }

    .case-images {
        gap: 30px;
        padding: 0 6px;
    }

    .case-images-2x {
        gap: 2px;
    }

    .nav-links {
        padding: 19px 0 70px;

        .nav-links {
            padding: 0 6px;

            .nav-previous,
            .nav-next {
                gap: 14px;
                font-size: 14px;
            }
        }
    }
}

.feedback2 {
    padding: 104px 0 102px;
    background: #242424;
}

.feedback2-frame {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    padding: 27px 15px 64px;
    border-radius: 46px;
    color: #242424;
    background: #f0f0f0;
    text-align: center;
}

.feedback2-title {
    font-size: 60px;
    line-height: 88px;
    direction: rtl;
    font-family: Heebo-Bold, sans-serif;
}

.feedback2-img {
    position: absolute;
    top: -77px;
    left: -138px;
}

.feedback2 .btn {
    gap: 26px;
    padding: 0 7px 0 20px;
    border-color: #242424;
    color: #242424;
}

.feedback2 .btn-label {
    flex-grow: 1;
}

@media screen and (max-width: 768px) {
    .feedback2 {
        padding: 60px 0;
    }

    .feedback2-title {
        font-size: 40px;
        line-height: 1.4;
    }
}

@media screen and (max-width: 480px) {
    .feedback2 {
        padding: 22px 0 27px;
    }

    .feedback2-frame {
        gap: 12px;
        padding: 23px 15px 33px;
    }

    .feedback2-title {
        font-size: 30px;
        line-height: 44px;
    }

    .feedback2 .btn {
        max-width: 177px;
        height: 35px;
        gap: 0;
        padding: 0 3px 0 29px;
    }

    .feedback2 .btn-icon {
        width: 26px;
        height: 26px;
    }

    .feedback2 .btn-icon svg {
        width: 16px;
    }
}
